@model Laptop.Models.Product

@{
    Layout = "~/Views/Layout/CustomLayout.cshtml";
    ViewBag.Title = Model.productName;
}

@section scripts{
    <link href="~/Content/CustomLayoutCss/css/etalage.css" rel="stylesheet" />
    <script src="~/Content/CustomLayoutCss/js/jquery.etalage.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 200,
                source_image_width: 1200,
                source_image_height: 800,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
        });
    </script>
}
<div class=" single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <li>
                    <a href="optionallink.html">
                        <img class="etalage_thumb_image img-responsive" src="~/Upload/Images/Products/@(Model.imageSrc)" />
                        <img class="etalage_source_image img-responsive" src="~/Upload/Images/Products/@(Model.imageSrc)" title="" />
                    </a>
                </li>
                @foreach (var im in Model.images)
                {
                    <li>
                    <img class="etalage_thumb_image img-responsive" src="~/Upload/Images/Products/@im.src" />
                    <img class="etalage_source_image img-responsive" src="~/Upload/Images/Products/@im.src" title="" />
                </li>
                }
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">
            <h4>@Model.productName</h4>
            <div class="cart-b">
                <div class="left-n ">@Laptop.Utils.StringUtil.convertPrice(Model.unitPrice)</div>
                @if (Model.quantity > 0)
                {
                    <a class="now-get get-cart-in" href="~/Shopping/AddToCart/@Model.productID">ADD TO CART</a>
                }
                <div class="clearfix"></div>
            </div>
            @if (Model.quantity > 0)
            {
                <h6>Còn hàng</h6>
            }
            else
            {
                <h6>Tạm hết hàng</h6>
            }
            <div>
                <p>@Model.longDescription</p>
            </div>
            <div class="share">
                <h5>Share Product :</h5>
                <ul class="share_nav">
                    <li><a href="#"><img src="~/Content/CustomLayoutCss/images/facebook.png" title="facebook"></a></li>
                    <li><a href="#"><img src="~/Content/CustomLayoutCss/images/twitter.png" title="Twiiter"></a></li>
                    <li><a href="#"><img src="~/Content/CustomLayoutCss/images/rss.png" title="Rss"></a></li>
                    <li><a href="#"><img src="~/Content/CustomLayoutCss/images/gpluse.png" title="Google+"></a></li>
                </ul>
            </div>


        </div>
        <div class="clearfix"> </div>
    </div>
    <ul id="flexiselDemo1">
        <li><img src="~/Content/CustomLayoutCss/images/pi.jpg" /><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
        <li><img src="~/Content/CustomLayoutCss/images/pi1.jpg" /><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
        <li><img src="~/Content/CustomLayoutCss/images/pi2.jpg" /><div class="grid-flex"><a href="#">Zumba</a><p>Rs 850</p></div></li>
        <li><img src="~/Content/CustomLayoutCss/images/pi3.jpg" /><div class="grid-flex"><a href="#">Bloch</a><p>Rs 850</p></div></li>
        <li><img src="~/Content/CustomLayoutCss/images/pi4.jpg" /><div class="grid-flex"><a href="#">Capzio</a><p>Rs 850</p></div></li>
    </ul>
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>

    <div class="toogle">
        <h3 class="m_3">Thông tin sản phẩm - @Model.productName</h3>
        <div class="m_text">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Thông số kỹ thuật</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CPU</td>
                        <td>@Model.CPUName</td>
                    </tr>
                    <tr>
                        <td>RAM</td>
                        <td>@Model.ram/td>
                    </tr>
                    <tr>
                        <td>Ổ cứng</td>
                        <td>@Model.HDrive</td>
                    </tr>
                    <tr>
                        <td>Màn hình</td>
                        <td>@Model.ScreenName</td>
                    </tr>
                    <tr>
                        <td>Card đổ họa</td>
                        <td>@Model.Graphic.graphicName</td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td>@Model.battery</td>
                    </tr>
                    <tr>
                        <td>Camera</td>
                        <td>@Model.camera</td>
                    </tr>
                    <tr>
                        <td>Ổ đĩa</td>
                        <td>@Model.cd_DVD</td>
                    </tr>
                    <tr>
                        <td>Wifi</td>
                        <td>@Model.wifi</td>
                    </tr>
                    <tr>
                        <td>Hệ điều hành</td>
                        <td>@Model.os</td>
                    </tr>
                    <tr>
                        <td>Bảo hành</td>
                        <td>@Model.warrantyPeriod</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>