@model IEnumerable<Laptop.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
        <table id="dataTables-example"  class="table table-hover table-responsive ">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.productName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.productType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.unitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isNoLonger)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isNew)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isHot)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.importPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.productName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.productType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isNoLonger)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isNew)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isHot)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.importPrice)
                    </td>
                    <td>
                        @Html.ActionLink("Cập nhật", "Edit", new { id = item.productID }) |
                        @Html.ActionLink("Chi tiết", "Details", new { id = item.productID }) |
                        @Html.ActionLink("Xóa", "Delete", new { id = item.productID })
                    </td>
                </tr>
            }

        </table>
   


