@model Laptop.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warrantyPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warrantyPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cd_DVD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cd_DVD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.camera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.camera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.os)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.os)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.battery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.battery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isNoLonger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isNoLonger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isHot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageSrc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageSrc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.importPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.importPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
