@using Laptop.Utils
@model Laptop.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Layout/CustomLayout.cshtml";
}

<div class="single_top">
    <div class="register-bottom-grid">
        <br />
        <h3 class="text-center">ĐẶT HÀNG THÀNH CÔNG</h3>
        <br />
        <div class="mation">
            <span>Họ Tên Khách Hàng: <label>@Model.Name</label></span>
            <br />
            <span>Ngày Đặt Hàng: <label>@Model.OrderDate</label></span>
            <br />
            <span>Ngày Giao Hàng: <label>@Model.ShipDate</label></span>
            <br />
            <table class="table table-hover">
                <thead class="bg-danger">
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr id="row-@item.RecordId">
                            <td class="bold">
                                @item.Product.productName
                            </td>
                            <td>
                                @StringUtil.convertPrice(item.Product.unitPrice)
                            </td>
                            <td id="item-count-@item.RecordId">
                                @item.Count
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td>Tổng thanh toán:</td>
                        <td>@StringUtil.convertPrice(Model.CartTotal)</td>
                    </tr>
                </tbody>
            </table>
            <label>Thông tin đơn hàng đã được gửi qua mail của quý khách.</label>
            <label>Cám ơn quý khách hàng đã sử dụng dịch vụ của chúng tôi !</label>
        </div>
    </div>
    <div class="register-but">
        <input type="submit" value="Về Trang Chủ" />
        <div class="clearfix"> </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('input[type=submit]').click(
            function () {
                window.open("/", "_self");
            });
    });
</script>
