@model Laptop.Models.CPU

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row mg-10 al-center">
    <h2 class="c-pri">Chi tiết CPU</h2>
    <h4 class="bold">@Html.DisplayFor(model => model.cpuName)</h4>
    <hr />
</div>
<div class="row mg-10">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cpuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpuName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cpuType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cpuType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isNoLonger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isNoLonger)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Cập nhật", "Edit", new { id = Model.cpuID }) |
        @Html.ActionLink("Trở về", "Index")
    </p>

</div>

    
