@model IEnumerable<Laptop.Models.CPU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


        @Html.ActionLink("Tạo mới", "Create")
        
        <table id="dataTables-example" class="table table-responsive">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.cpuName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.manufacturer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.technology)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cpuType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.speed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isNoLonger)
                    </th>
                    <th></th>
                </tr>
                </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.cpuName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.technology)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cpuType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.speed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.isNoLonger)
                        </td>
                        <td>
                            @Html.ActionLink("Cập nhật", "Edit", new { id = item.cpuID }) |
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.cpuID }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.cpuID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
