@model IEnumerable<Laptop.Models.HardDrive>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



@Html.ActionLink("Tạo mới", "Create")
<table id="dataTables-example" class="table table-responsive">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hardDriveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.diskSpace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hardDriveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isNoLonger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hardDriveName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diskSpace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hardDriveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isNoLonger)
                </td>
                <td>
                    @Html.ActionLink("Cập nhật", "Edit", new { id = item.hardDriveID }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.hardDriveID }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.hardDriveID })
                </td>
            </tr>
        }
    </tbody>
</table>
