@model IEnumerable<Laptop.Models.Product>

@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<h2>AddToCart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warrantyPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_DVD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.camera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wifi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.os)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.battery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.unitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isNoLonger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isNew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isHot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageSrc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.importPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updator)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warrantyPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_DVD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.camera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wifi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.os)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.battery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.unitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isNoLonger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isNew)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isHot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageSrc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.importPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updator)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productID }) |
            @Html.ActionLink("Details", "Details", new { id=item.productID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productID })
        </td>
    </tr>
}

</table>
