@using Laptop.Utils
@model Laptop.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Layout/CustomLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        // Khi trang đã load xong --> Nhấp vào link "trả lại"
        $(".RemoveLink").click(function () {
            // Lấy ra id của mặt hàng muốn trả
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                //ajax post
                $.post("/Shopping/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Nếu thành công thì
                        // Cập nhật các phần tử của trang
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }

                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                    });
            }
        });

        // Khi trang đã load xong --> xử lý cho sự kiện thay đổi số lượng trên textbox
        $(".txt").change(function () {
            var recordToChange = $(this).attr("data-id");
            var num = $(this).val();
            if (recordToChange != '' || recordToChange != null) {
                $.post("/Shopping/AddToCart", { "id": recordToChange, "num": num },
                    function (data) {
                        // Nếu thành công thì
                        // Cập nhật lại các thành phần của trang
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(convertPrice(data.CartTotal));
                        $('#cart-status').children().last().text("CART(" + data.CartCount + ")");
                    })
            }

        });

        //convert price
        function convertPrice(price) {
            if (price >= 0) {
                var m = Math.floor(price / 1000000);
                var temp = price % 1000000;
                var t = Math.floor(temp / 1000);
                var u = temp % 1000;

                var r = "" + m;
                if (t >= 100) {
                    r += "." + t;
                }
                else if (t >= 10) {
                    r += ".0" + t;
                }
                else {
                    r += ".00" + t;
                }
             
                if (u >= 100) {
                    r += "." + u;
                }
                else if (u >= 10) {
                    r += ".0" + u;
                }
                else {
                    r += ".00" + u;
                }
  
                r += "đ";
                return r;
            }
            return "0đ";
        }

    });

</script>

<div class="register">
    <div class="register-top-grid">
        <h3>GIỎ HÀNG CỦA BẠN</h3>
        <h3 id="update-message" class="row al-center mg-1">
        </h3>
        <div class="mation">
            <table class="table table-hover">
                <tr class="bg-danger">
                    <th style="border-top-style:none;font-size:20px">
                        Tên sản phẩm
                    </th>
                    <th style="border-top-style: none; font-size: 20px">
                        Đơn giá
                    </th>
                    <th style="border-top-style: none; font-size: 20px">
                        Số lượng
                    </th>
                    <th style="border-top-style: none; font-size: 20px"></th>
                </tr>

                @foreach (var item in Model.CartItems)
                {
                    <tr id="row-@item.RecordId">
                        <td>
                            @Html.ActionLink(item.Product.productName, "Details", "ProductDetail", new { id = item.ProductId }, null)
                        </td>
                        <td>
                            @StringUtil.convertPrice(item.Product.unitPrice)
                        </td>
                        <td data-id="item-count-@item.RecordId">
                            <input data-id="@item.ProductId" type="text" class="txt form-control" style="width:60px" value="@item.Count" />
                        </td>
                        <td>
                            <a href="#" class="RemoveLink btn btn-sm btn-danger" data-id="@item.RecordId">Trả lại</a>
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        Tổng số tiền:
                    </td>
                    <td></td>
                    <td id="cart-total">
                        @StringUtil.convertPrice(Model.CartTotal)
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ActionLink("Đặt hàng", "Index", "Order", null, new { @class = "btn btn-block btn-success", role = "button" })</td>
                    <td>@Html.ActionLink("Hủy giỏ hàng", "EmptyCart", "Shopping", null, new { @class = "btn btn-block btn-danger", role = "button" })</td>
                    <td>@Html.ActionLink("Tiếp tục mua hàng", "ShowNewProduct", "Show", null, new { @class = "btn btn-block btn-info", role = "button" })</td>
                </tr>
            </table>
        </div>
    </div>
</div>
