@model Laptop.Models.Screen

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Thêm</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Màn hình</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.screenID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.screenID)
                @Html.ValidationMessageFor(model => model.screenID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.screenName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.screenName)
                @Html.ValidationMessageFor(model => model.screenName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.manufacturer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.manufacturer)
                @Html.ValidationMessageFor(model => model.manufacturer)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.size)
                @Html.ValidationMessageFor(model => model.size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.touchScreen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.touchScreen)
                @Html.ValidationMessageFor(model => model.touchScreen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.resolution, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.resolution)
                @Html.ValidationMessageFor(model => model.resolution)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isNoLonger, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isNoLonger)
                @Html.ValidationMessageFor(model => model.isNoLonger)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.type)
                @Html.ValidationMessageFor(model => model.type)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
