@model Laptop.Models.RegisterViewModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Layout/CustomLayout.cshtml";
    
}

<div class="account_grid">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class="register-top-grid">
            <h3>THÔNG TIN ĐĂNG NHẬP</h3>
            <div class="mation">
   
                    <span>Tên đăng nhập <label>*</label></span>
                    @Html.ValidationMessageFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
      
                    <span>Mật khẩu <label>*</label></span>
                    @Html.ValidationMessageFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
             
                    <span>Xác nhận mật khẩu <label>*</label></span>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="register-bottom-grid">
            <h3>THÔNG TIN CÁ NHÂN</h3>
            <div class="mation">
                <span>Tên <label>*</label></span>
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })

                <span>Họ <label>*</label></span>
                @Html.ValidationMessageFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

                <span>Địa chỉ <label>*</label></span>
                @Html.ValidationMessageFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })

                <span>Email <label>*</label></span>
                @Html.ValidationMessageFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                <span>Điện thoại <label>*</label></span>
                @Html.ValidationMessageFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })

                <span>Hãy nhập mã số bên dưới <label>*</label></span>
                @Html.Captcha()
            </div>
            <div class="clearfix"> </div>
        </div>
        
       <div class="register-but">
            <input type="submit" value="submit" />
            <div class="clearfix"> </div>
       </div>
    }  
</div>

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
}
