<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hoàng Phương Computer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hoàng Phương Computer", "ShowNewProduct", "Show", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Service")</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Service")</li>
                    <li>@Html.ActionLink("Hỗ trợ", "Contact", "Service")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>                
            </div>
        </div>
    </div>
    
    <!--Phần nội dung chính của trang chủ-->
    <div class="row mg-30" id="top">
        <div class="col-md-1"></div>
        <!--Nội dung hiển thị-->
        <div class="col-md-10 mg-t-70">
            @RenderBody()
        </div>
        <!--Hết phần nội dung hiển thị-->
        <div class="col-md-1"></div>
    </div>
    <!--Hết phần nội dung chính của trang chủ-->

    <!--Phần footer-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-10 col-md-offset-1 mg-1">
                <div class="col-md-5 al-center">
                    <footer class="nav-justified">
                        <p>&copy; @DateTime.Now.Year - Hoàng Phương Computer</p>
                    </footer>
                </div>
                <div class="col-md-7 al-center">
                    <span>
                        @Html.ActionLink("Trang chủ", "Index", "Service") |
                        @Html.ActionLink("Giới thiệu", "About", "Service") |
                        @Html.ActionLink("Hỗ trợ", "Contact", "Service") |
                        <a href="#top">Về đầu trang</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--Hết footer-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
