@model Laptop.Models.Screen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa màn hình này?</h3>
<div>
    <h3>Bạn có muốn xóa màn hình này?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.screenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.touchScreen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.touchScreen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resolution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resolution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isNoLonger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isNoLonger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
