@model Laptop.Models.HardDrive

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HardDrive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hardDriveName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardDriveName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diskSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diskSpace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hardDriveType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hardDriveType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isNoLonger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isNoLonger)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hardDriveID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
